#background {
    height: 725px;
    background-color: #ded19d
}

body {
    background-color: #fcfbfb; 
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

.icon, .logo {
    width: 80px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    padding: 35px
}    

footer p {
    font-size: 1.2em;
}  

footer p a:hover {
    text-decoration: underline;
}

main section[class="msg"] {
    background-color:rgba(20,30,13, .7);
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer {
    background-color:rgba(20,30,13, .7);
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}

main {
    text-align: center
}
      
section[id="hero-msg"] {
    text-align: center;
    text-decoration: none;
}

footer p a {
    color: #fcfbfb;
}

footer .social img {
    padding-top: 15px;
}

section[id="hero-msg"] div a {
    background-color: #d9c2a3;
}

section[class="msg"] a {
    color: black;
    background-color: #d9c2a3;
}
#hero-img {
    width: 100%;
}

/* Set a maximum width of 1600 pixels for the content */
#content {
    max-width: 1600px;
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px; /* Add some padding for spacing */
}

a {
    text-decoration: none;
    }

.mountains {
    width: 500px; 
    height: 300px;
}

.card-img {
    width: 400px; 
    height: 300px;
    border: 10px solid #d9c2a3;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

.icon {
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

main section img {
    box-sizing: border-box;
}