
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@300&display=swap');
body {
    font-family: Roboto, Verdana, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
a:hover {
    background-color: darkgray;
    color: white
}
nav {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 2em;
    text-align: center;
}
img {
    width: 60%;
    display: block;
    margin: 40px auto;
    padding: 40px;
    border: 3px solid lightblue;
    box-sizing: border-box;
}
a {
    background-color: lightblue;
    color: rgb(71, 68, 69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
p {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}
.background {
    background-color: #ccc;
}
footer {
    background-color: lightblue;
    color: rgb(71, 69, 69)

}
footer p {
    text-align: center;
}

